/* estilos.css */

/* Estilos básicos y de fondo */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f9; /* Fondo muy claro */
}

/* SECCIÓN MODIFICADA: Eliminado el estilo visual del encabezado */
header {
    padding: 0;
    text-align: center;
}

/* Estilos de la Galería */
.galeria {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;     
    padding: 30px;
    justify-content: center;
}

.item-galeria {
    width: 250px; 
    height: 180px;
    overflow: hidden;
    cursor: grab; /* Indica que se puede arrastrar */
    
    /* MODIFICADO: Estilo minimalista */
    border: none; 
    border-radius: 0; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para separar */
    
    transition: transform 0.2s;
}

.item-galeria:hover {
    transform: none; /* Quitamos el efecto de levantamiento */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra un poco más fuerte al pasar el ratón */
}

.item-galeria:active {
    cursor: grabbing;
}

.item-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* Estilo para el elemento que se está arrastrando */
.arrastrando {
    opacity: 0.4;
    border: 3px dashed #333;
    background-color: #eee;
}
